h2 {
   color:whithe;
   font-size: 15px;
   with : ;
   background :gray;
}

body {
       bacground : pink;
}

 h1 { 
     color :#0A8CE1;
     font-size : 25px;
     background : #FAF0E6;
}

img {
     width : 500px;
     height: 200px;
}

